.footer {
    background-color: #8B4513;
    padding: 20px;
    color: #FAF3E0;
}

.footer .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.footer .footer-container #aboutBoth{
    display: flex;
    align-items: center;
    gap: 10px;
}

#aboutImg {
    width: 28px;
    height: 28px;
}

.footer .footer-section h3 {
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
}

.footer .footer-section p {
    max-width: 800px;
    color: #FAF3E0;
}

.footer .footer-section a {
    color: #FFD700;
    text-decoration: none;
    display: block;
    margin: 5px 0;
    transition: color 0.3s;
}

.footer .footer-section a:hover {
    color: #4CAF50;
}

.footer .footer-bottom {
    text-align: center;
    padding-top: 15px;
    font-size: 0.9em;
}