/* Scoped Header Styling */
.header {
    background: linear-gradient(to bottom, #4caf4fdd, rgba(76, 175, 79, 0));
    padding: 5px 20px 2px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.header .logo h1 a {
    color: #fff;
    text-shadow: 0px 2px 4px rgba(44, 223, 47, 0.53);
    text-decoration: none;
}

.header .logo {
    display: flex;
}

.header .logo img {
    width: 50px;
    margin: auto;
    padding-right: 15px;
    padding-top: 20px;
}

.header .nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
    transition: color 0.3s;
}

.header .nav-links a:hover {
    color: #FFD700;
}

.header .bar {
    border: 2px solid #fff;
    background: linear-gradient(to bottom, #4caf4fed, rgba(76, 175, 79, 0));
    border-radius: 10px;
    padding-right: 25px;
    margin-left: 20px;
}

.header .mode-switch {
    display: flex;
    align-items: center;
}

.header .mode-switch .fa-sun,
.header .mode-switch .fa-moon {
    color: #FFD700;
    font-size: 1.2rem;
    cursor: pointer;
}

.header #hLogin, .header #hLSignup {
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.header #hLogin {
    border: 2px solid white;
    background-color: #4CAF50;
    color: white;
}

.header #hLogin:hover {
    border-color: #FFD700;
    color: #FFD700;
}

.header #hLSignup {
    border: 2px solid white;
    background-color: white;
    color: #4CAF50;
    margin-left: 5px;
}

.header #hLSignup:hover {
    border-color: #FFD700;
    background-color: #FFD700;
    color: white;
}