.header {
    background: linear-gradient(to bottom, #4caf4fdd, rgba(76, 175, 79, 0));
    padding: 5px 20px 2px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/* logo */
.header .logo h1 a {
    color: #fff;
    text-shadow: 0px 2px 4px rgba(44, 223, 47, 0.53);
    text-decoration: none;
}

.header .logo {
    display: flex;
}

.header .logo img {
    width: 50px;
    margin: auto;
    padding-right: 15px;
    padding-top: 20px;
}

/* nav bar */
.header .nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
    transition: color 0.3s;
}

.header .nav-links a:hover {
    color: #FFD700;
}

.header .bar {
    border: 2px solid #fff;
    background: linear-gradient(to bottom, #4caf4fed, rgba(76, 175, 79, 0));
    border-radius: 10px;
    margin-left: 20px;
}

.header {
    display: flex;
    align-items: center;
}

/* buttons */
.header #hLogin, .header #hLSignup {
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.header #hLogin {
    border: 2px solid white;
    background-color: #4CAF50;
    color: white;
}

.header #hLogin:hover {
    border-color: #FFD700;
    color: #FFD700;
}

.header #hLSignup {
    border: 2px solid #4CAF50;
    background-color: white;
    color: #4CAF50;
    margin-left: 5px;
}

.header #hLSignup:hover {
    background-color: #FFD700;
    color: #4CAF50;
}

/* sign out */
.logout button {
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(to bottom, #4caf4fed, rgba(76, 175, 79, 0));
    top: 10px;
    padding: 4px 20px;
    border: 2px solid #fff;
    border-radius: 8px;
    cursor: pointer;
}

.logout a {
    color: #fff;
    text-decoration: none;
}

.logout a:hover {
    color: #FFD700;
    text-decoration: none;
    transition: color 0.3s;
}