/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body, h1, h3, p, a {
    font-family: 'Poppins', sans-serif;
    color: #333;
    transition: color 0.3s, background-color 0.3s ease-in-out;
}

body.light-mode {
    background-color: #FAF3E0;
    color: #333;
}

body.dark-mode {
    background-color: #333;
    color: #FAF3E0;
}

.header {
    background-color: #4CAF50;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.logo {
    display: flex;
}

.logo img {
    width: 50px;
    margin: auto;
    padding-right: 15px;
    padding-top: 20px;
}

#lm {
    text-decoration: none;
}

.nav-links a {
    color: #FAF3E0;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
    transition: color 0.3s;
    padding-left: 30px;
}

.nav-links a:hover {
    color: #FFD700;
}

#hLogin, #hLSignup {
    font-size: 16px;
    padding: 10px;
}

#hLogin {
    border: 2px solid white;
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
}

#hLogin:hover {
    border-color: #FFD700;
    color: #FFD700;
    cursor: pointer;
}

#hLSignup {
    border: 2px solid white;
    background-color: white;
    color: #4CAF50;
    border-radius: 8px;
    margin-left: 5px;
}

#hLSignup:hover {
    border-color: #FFD700;
    background-color: #FFD700;
    color: white;
    cursor: pointer;
}

/* Mode Switch */
.mode-switch {
    display: flex;
    align-items: center;
}

#theme-toggle {
    display: none;
}

/* Show sun icon when the theme toggle is not checked */
#theme-toggle:not(:checked) + #sun-icon {
    display: inline-block;
}

#theme-toggle:not(:checked) ~ #moon-icon {
    display: none;
}

/* Show moon icon when the theme toggle is checked */
#theme-toggle:checked + #sun-icon {
    display: none;
}

#theme-toggle:checked ~ #moon-icon {
    display: inline-block;
}

/* Set icon color */
.mode-switch .fa-sun, .mode-switch .fa-moon {
    color: #FFD700;
    font-size: 1.2rem;
    cursor: pointer;
}