/* General Styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FAF3E0;
    color: #333;
}

/* Container Styling */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar Styling */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #4CAF50;
    color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-header h2 {
    font-size: 18px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.sidebar-menu li a{
    text-decoration: none;
    color: #fff;
}

.sidebar-menu li:hover {
    background-color: #3E8E41;
}

.sidebar-menu i {
    margin-right: 10px;
}

/* Close Icon */
#close-sidebar {
    cursor: pointer;
}

/* Sidebar Toggle Styling */
.sidebar.active {
    left: 0;
}

/* Main Content Styling */
.main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 60px;
}

/* Top bar Styling */
.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #4CAF50;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.topbar i {
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

.topbar h1 {
    color: #fff;
}

/* bodySeparation styles */
.bodySeparation {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    animation: fadeIn 1s ease-in-out;
}

.bodySeparation h2, .quickH2 {
    color: #8B4513;
}

.toBuyers, .toSuppliers {
    flex-grow: 1;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.toBuyers {
    margin: 20px 10px 20px 0;
}

.toSuppliers {
    margin: 20px 0px 20px 10px;
}

.toBuyers input, .toSuppliers input {
    width: 75%;
    padding: 10px;
    border: 2px solid #FFD700;
    border-radius: 5px;
    box-sizing: border-box;
}

.inputCard input:focus{
    outline: none;
    border-color: #4CAF50;
    background-color: #4caf4f51;
}

.inputCard button, .inputCard button {
    padding: 9px 5px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 7px;
    font-size: 16px !important;
    cursor: pointer;
}

.inputCard button:hover, .inputCard button:hover {
    background-color: #3E8E41;
}

.displayPrices {
    text-align: center;
    font-size: 25px;
}

.displayPrices strong {
    color: #4CAF50;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.displayCard .priceLabel {
    font-size: 20px;
}

.inputCard input[type="number"]::-webkit-inner-spin-button, /*hide arrows from inputs*/
.inputCard input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fa-arrow-up, .fa-arrow-down {
    color: #4CAF50;
}

/* quick action cards */
.quick {
    display: flex;
    justify-content: space-between;
}

.card {
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 170px;
    background-color: #4CAF50;
    cursor: pointer;
    text-align: center;
    transition: transform 1s ease;
}

.card a {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}

.card a:hover {
    color: #FFD700;
}

.card:hover {
    transform: scale(1.05);
    background-color: #3E8E41;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}