h1 {
    margin: 40px;
    padding: 0 20px 30px 20px;
    font-size: 150px;
    text-align: center;
    background-image: url("./images/coconut-still-life.jpg");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}